*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: lightblue;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: lightblue;
    color: black;
}

header h1{
    display: inline-block;
    font-size: 48px;
}

/*This helps the nav display*/
header nav {
    padding-top: 15px;
    margin-left: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*This helps remove bullet points and to not creat a list of the nav links*/
header nav ul{
    list-style-type: none;
}

/*This will help the links be displayed in a linear format*/
header nav ul li{
    display: inline-block;
    margin-left: 25px;
}

header nav ul li a:hover{
    background-color: blue;
    color: whitesmoke;
    border-radius: 15px;
    text-shadow: none;
}
/*This helps make the links color white and with no underline*/
a{
    color: black;
    text-decoration: underline;
}

p {
    font-size: 16px;
    color: black;
}

/*This class is to allow a full width banner on the website*/
.hero{
    height: 250px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/banner-background-without-image-min.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    position: relative;
}

/*This will allow h2 inside the hero class to appear at 
the bottom left corner of the banner*/
.hero h2{
    font-style:inherit;
    font-size: 50px;
    color: black;
    margin-top: 180px;
}

section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    margin: 10px;
}

/*this helps create a padding and margin around title*/
.sectionDetail{
    margin: 20px auto;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
}

/* this allows each section title to be a certain format */
.sectionTitle{
    font-size: 40px;
    display: inline-block;
    border-right: 5px solid;
    margin-right: 35px;
    text-align: right;
    padding: 30px;
    flex-basis: 25%;
}

/*this allows the paragraph to be in certain format*/
.text{
   flex: 25;
}

.text a{
    font-size: 15px;
    text-align: left;
    list-style: 2px;
    margin-left: 15px;
    width: 100%;    
}

/*These classes will help organize the work section*/
.container{
    display: flex;
    flex-direction: column;

}

.projectDetail{
    position: relative;
    margin-right: 12px;
    width: max-content;
}

img{
    border: 5px solid aqua;
}

.projectDetail a img:hover{
    opacity: 0.5;
}

.projectTitle{
    display: inline-block;
    margin-right: 35px;
    font-size: 20px;
    color: white;
    border: solid 1px black;
    background-color: blue;

}
/*this section will help display and organize the contact section*/
.contact{
    flex: 150;
}
.contact ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: left;
    list-style: none;
    margin-left: 15px;
    width: 100%;

}
.contact ul li{
    display: inline-block;
}
.contact ul li a {
    margin: 0 30px;
    font-size: 20px;
    text-decoration: none;
    border-bottom: 3px solid;
    padding-bottom: 2px;
}

/*media resizing*/
@media screen and (max-width: 980px) {
    header{
        padding-bottom: 0;
        justify-content: center;
        position: relative;
        flex-direction: column;
        text-align: center;
    }

    header h1{
        width: 100%;
        text-align: center;
        margin: 5px;
    }
    header nav ul li a{
        font-size: 20px;
    }

    p{
        flex: 2 100%;
        text-align: left;
        justify-content: left;
    }
}

@media screen and (max-width 768px){
    section {
        padding: 30px 15px;
        text-align: center;
    }    

    .sectionDetail{
        flex-direction: column;
    }

    .sectionTitle{
        font-size: 48px;
        text-align: center;
        flex-direction: column;
        border-right: none;
        border-bottom: 5px solid;
        padding: 15px;
        margin: 0;
    }

    p{
        flex-direction: column;
        justify-content: center;
        display: contents;
        padding: 10px;
    }

    .projectDetail{
        flex:2 100%;
        text-align: left;
        justify-content: left;
        display: flex;
    }

    .projectDetail img {
        flex: 0 32%;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
        width: 90%;
    }

    a{
        flex-direction: column;
        justify-content: center;
        display: contents;
        padding: 10px;
    }
}